* {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-rows: 30px 1fr;


    width: 1200px;
    margin: auto;
}

header {
    text-align: center;
}

.header_input {}

.header_btn {}

main {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: "w s";
}

.wall {
    grid-area: w;
}

.wall_item {

}

.wall_item_post {
    border: 1px solid black;
    padding: 5px;
}

.wall_item_post_title {
    font-weight: bold;
    font-size: 20px;
}

.btn_favorites {}

.wall_item_comments {
    border: 1px solid black;
}
.statistics {
    border: 1px solid black;
    grid-area: s;
}